<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiya.mapper.TabFreeInOutListMapper" >
  <resultMap id="BaseResultMap" type="com.yiya.bean.TabFreeInOutList" >
    <id column="free_in_out_id" property="free_in_out_id" jdbcType="INTEGER" />
    <result column="pre_license_plate_id" property="pre_license_plate_id" jdbcType="INTEGER" />
    <result column="license_plate" property="license_plate" jdbcType="VARCHAR" />
    <result column="license_plate_all" property="license_plate_all" jdbcType="VARCHAR" />
    <result column="begin_time" property="begin_time" jdbcType="TIMESTAMP" />
    <result column="end_time" property="end_time" jdbcType="TIMESTAMP" />
    <result column="free_type" property="free_type" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    free_in_out_id, pre_license_plate_id, license_plate, license_plate_all, begin_time, 
    end_time, free_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yiya.bean.TabFreeInOutListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_free_in_out_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_free_in_out_list
    where free_in_out_id = #{free_in_out_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_free_in_out_list
    where free_in_out_id = #{free_in_out_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiya.bean.TabFreeInOutListExample" >
    delete from tab_free_in_out_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiya.bean.TabFreeInOutList" >
    insert into tab_free_in_out_list (free_in_out_id, pre_license_plate_id, 
      license_plate, license_plate_all, begin_time, 
      end_time, free_type)
    values (#{free_in_out_id,jdbcType=INTEGER}, #{pre_license_plate_id,jdbcType=INTEGER}, 
      #{license_plate,jdbcType=VARCHAR}, #{license_plate_all,jdbcType=VARCHAR}, #{begin_time,jdbcType=TIMESTAMP}, 
      #{end_time,jdbcType=TIMESTAMP}, #{free_type,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yiya.bean.TabFreeInOutList" >
    insert into tab_free_in_out_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="free_in_out_id != null" >
        free_in_out_id,
      </if>
      <if test="pre_license_plate_id != null" >
        pre_license_plate_id,
      </if>
      <if test="license_plate != null" >
        license_plate,
      </if>
      <if test="license_plate_all != null" >
        license_plate_all,
      </if>
      <if test="begin_time != null" >
        begin_time,
      </if>
      <if test="end_time != null" >
        end_time,
      </if>
      <if test="free_type != null" >
        free_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="free_in_out_id != null" >
        #{free_in_out_id,jdbcType=INTEGER},
      </if>
      <if test="pre_license_plate_id != null" >
        #{pre_license_plate_id,jdbcType=INTEGER},
      </if>
      <if test="license_plate != null" >
        #{license_plate,jdbcType=VARCHAR},
      </if>
      <if test="license_plate_all != null" >
        #{license_plate_all,jdbcType=VARCHAR},
      </if>
      <if test="begin_time != null" >
        #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="free_type != null" >
        #{free_type,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiya.bean.TabFreeInOutListExample" resultType="java.lang.Integer" >
    select count(*) from tab_free_in_out_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_free_in_out_list
    <set >
      <if test="record.free_in_out_id != null" >
        free_in_out_id = #{record.free_in_out_id,jdbcType=INTEGER},
      </if>
      <if test="record.pre_license_plate_id != null" >
        pre_license_plate_id = #{record.pre_license_plate_id,jdbcType=INTEGER},
      </if>
      <if test="record.license_plate != null" >
        license_plate = #{record.license_plate,jdbcType=VARCHAR},
      </if>
      <if test="record.license_plate_all != null" >
        license_plate_all = #{record.license_plate_all,jdbcType=VARCHAR},
      </if>
      <if test="record.begin_time != null" >
        begin_time = #{record.begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end_time != null" >
        end_time = #{record.end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.free_type != null" >
        free_type = #{record.free_type,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_free_in_out_list
    set free_in_out_id = #{record.free_in_out_id,jdbcType=INTEGER},
      pre_license_plate_id = #{record.pre_license_plate_id,jdbcType=INTEGER},
      license_plate = #{record.license_plate,jdbcType=VARCHAR},
      license_plate_all = #{record.license_plate_all,jdbcType=VARCHAR},
      begin_time = #{record.begin_time,jdbcType=TIMESTAMP},
      end_time = #{record.end_time,jdbcType=TIMESTAMP},
      free_type = #{record.free_type,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiya.bean.TabFreeInOutList" >
    update tab_free_in_out_list
    <set >
      <if test="pre_license_plate_id != null" >
        pre_license_plate_id = #{pre_license_plate_id,jdbcType=INTEGER},
      </if>
      <if test="license_plate != null" >
        license_plate = #{license_plate,jdbcType=VARCHAR},
      </if>
      <if test="license_plate_all != null" >
        license_plate_all = #{license_plate_all,jdbcType=VARCHAR},
      </if>
      <if test="begin_time != null" >
        begin_time = #{begin_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null" >
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="free_type != null" >
        free_type = #{free_type,jdbcType=SMALLINT},
      </if>
    </set>
    where free_in_out_id = #{free_in_out_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiya.bean.TabFreeInOutList" >
    update tab_free_in_out_list
    set pre_license_plate_id = #{pre_license_plate_id,jdbcType=INTEGER},
      license_plate = #{license_plate,jdbcType=VARCHAR},
      license_plate_all = #{license_plate_all,jdbcType=VARCHAR},
      begin_time = #{begin_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      free_type = #{free_type,jdbcType=SMALLINT}
    where free_in_out_id = #{free_in_out_id,jdbcType=INTEGER}
  </update>
</mapper>