# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*/target
depot.iml
depot_api/depot_api.iml
depot_api/target/
depot_common/depot_common.iml
depot_common/target/
depot_dao/depot_dao.iml
depot_dao/target/
depot_service/depot_service.iml
depot_service/target/
depot_web/depot_web.iml
depot_web/target/
